<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [ ]:
# create empty list, name it 'a'

In [1]:
a = []

In [ ]:
# print the value of a

In [2]:
print(a)

[]

In [ ]:
# print the type of a

In [3]:
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [5]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [6]:
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [7]:
for language in languages:
    print(language)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [1]:
temp ='Python'

Print the value of temp and type(temp)

In [2]:
print(temp)

Python

In [3]:
type(temp)

str

Append the element 'Java' in the list

In [8]:
languages.append('Java')
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [10]:
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [25]:
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [26]:
colors.append('Black')
print(colors)

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [27]:
colors.insert(1,'Orange')
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

In [28]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [29]:
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [30]:
colors.extend(colors2)

Print len of colors and its elements

In [31]:
len(colors)

7

In [32]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [33]:
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [2]:
sent = 'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [5]:
word_list = sent.split(' ')
print(word_list)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower.
Print words_lower

In [4]:
words_lower = sent.lower()
print(words_lower)

coronavirus caused lockdowns around the world.

Check whether ‚Äòcountry‚Äô is in the list

In [6]:
if 'country' in word_list:
    print("'country' is in the list.")
else:
    print("'country' is not in the list.")

'country' is not in the list.

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [7]:
word_list.remove('The')
print(word_list)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'World.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [8]:
word_list = words_lower.split()

x4 = word_list[:4]

In [ ]:
# print x4

In [9]:
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [10]:
x4 = ['coronavirus', 'caused', 'lockdowns', 'around']     #list of words

# Convert the list to a single string
single_string = ' '.join(x4)
print(single_string)

coronavirus caused lockdowns around

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [11]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [12]:
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [14]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [15]:
print(stud_grades_set)

{'A', 'B', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [19]:
print(type(stud_grades))
print(stud_grades)

<class 'list'>
['A', 'A', 'B', 'C', 'C', 'F']

In [20]:
print(type(stud_grades_set))
print(stud_grades_set)

<class 'set'>
{'A', 'B', 'C', 'F'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [21]:
stud_grades_set.add('G')
print(stud_grades_set)

{'C', 'A', 'G', 'B', 'F'}

Add element 'F' to stud_grades_set. and print it.

In [26]:

stud_grades_set.add('F')
print(stud_grades_set)         
# In set if any value present twice time, that value shown this set only one .

{'C', 'A', 'G', 'B', 'F'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [23]:
stud_grades_set.remove('F')
print(stud_grades_set)

{'C', 'A', 'G', 'B'}

Print the elements and the length of stud_grades_set

In [24]:
print(stud_grades_set)

{'C', 'A', 'G', 'B'}

In [25]:
len(stud_grades_set)

4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [27]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [28]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [29]:
colors_set = set(colors)
fruits_set = set(fruits)

print(colors_set)
print(fruits_set)

{'orange', 'red', 'blue'}
{'orange', 'grapes', 'apples'}

Find the union of both the sets.

In [34]:
print(colors_set.union(fruits_set))
print(fruits_set.union(colors_set))

{'red', 'blue', 'orange', 'grapes', 'apples'}
{'red', 'blue', 'orange', 'grapes', 'apples'}

Find the intersection of both the sets

In [35]:
print(colors_set.intersection(fruits_set))
print(fruits_set.intersection(colors_set))

{'orange'}
{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [36]:
print(colors_set.difference(fruits_set))
print(fruits_set.difference(colors_set))

{'red', 'blue'}
{'grapes', 'apples'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [38]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [39]:
for item in  temp:
    print(item)

17
Virat
50.0

replace first element with 11 in temp

In [40]:
temp[0] = 11

print(temp)

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [41]:
temp1 = tuple(temp)
print(temp1)

(11, 'Virat', 50.0)

Iterate through temp1 and print all the items in temp1.

In [42]:
temp1 = (11, 'Virat', 50.0)

for item in temp1:
    print(item)

11
Virat
50.0

replace first element with 17 in temp1

In [46]:
temp = list(temp1)        # convert tuple to list
temp[0] = 17

temp1 = tuple(temp)       # Convert the list back to a tuple
print(temp1)

(17, 'Virat', 50.0)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [48]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [49]:
print(city[0])

Bangalore

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [51]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [53]:
cities = (city, city2)

Print cities

In [54]:
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [55]:
print(type(cities[0]))

<class 'tuple'>

print the type of cities

In [56]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [57]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [ ]:
# Here i got error

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [59]:
actor = d['actor']  
print(actor)

amir

Print the type of actor

In [60]:
type(actor)

str

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [61]:
List = d['list']
print(List)

[23, 32, 12]

Print the type of List.

In [62]:
type(List)

list

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [65]:
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [66]:
d.update(d1)

print d

In [67]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [69]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [70]:
d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [71]:
d.items()

dict_items([('actor', 'amir'), ('animal', 'cat'), ('earth', 2), ('list', [23, 32, 12]), ('singer', 'Kr$na'), ('album', 'Still here'), ('genre', 'hip-hop')])

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [ ]:
sent = 'Coronavirus Caused Lockdowns Around The World.'

In [72]:
char_count = {}

for char in sent:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count)

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1, '.': 1}